.toolbar {
  background-color: #1976d2;
  color: #ffffff;
  padding: 0 20px;
  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.toolbar .content {
  max-width: 1200px;
  padding: 12px 0;
  font-size: 20px;

  flex: 1;
  display: flex;
  justify-content: space-between;
}

.toolbar .menu {
  display: flex;
}

.toolbar .menu-item {
  line-height: 40px;
  margin: 0 32px 0 0;
}

.toolbar input {
  /* Color */
  background-color: rgba(255, 255, 255, 0.15);
  color: #ffffff;

  /* Sizing */
  border: 0;
  border-radius: 4px;
  padding: 0 12px;
  width: 300px;
  outline: none;

  /* Font */
  font-size: 16px;
  line-height: 40px;
}

.toolbar input::placeholder {
  color: #ffffff;
  opacity: 0.6;
}